.main{
  border: 1px solid black;
  height: 400px;
  width: 800px;
  align-items: center;
  display: flex;
  
}

h1 {
  font-size: 100px;
}

.coracao {
  height: 120px;
}


.text{
  font-family: 'Sacramento', cursive;
  font-size: 80px;
}